.button-shadow {
    background-color: rgb(253, 211, 93);
    border-radius: 0;
    margin-bottom: 30px;
    width: 400px;
    max-width: 90%;
    height: 80px;
}

.menu-button {
    translate: 5px -10px;
    -unity-font-definition: url("project://database/Assets/_Project/Fonts/AlfaSlabOne/AlfaSlabOne-Regular%20SDF.asset?fileID=11400000&guid=924c06fc2ad1cc245b4a7fcc30131aa6&type=2#AlfaSlabOne-Regular SDF");
    font-size: 48px;
    background-color: rgb(253, 202, 64);
    border-width: 1px;
    border-color: rgb(5, 5, 5);
    color: rgb(17, 17, 17);
    width: 100%;
    height: 100%;
}

.menu-button:hover {
    scale: 1.05;
}

.menu-button:active {
    translate: 0 0;
}

.menu-button:disabled {
}




